# Desafio Imparáveis
## Calculo dos indicadores do APP a partir da futura base de dados

In [1]:
import pandas as pd
import numpy as np

In [2]:
# baixando dados prototipados no Excel
data = pd.read_excel('JORNADA.xlsx', sheet_name=2)

In [3]:
# Transformando cópis dos dados a serem upados no ambiente AWS
data.to_csv('base_jornada.csv', index=False)

In [4]:
# Visualizando os dados
data

,ID,Data/Hora,Cod,Jornada,Placa,Modelo,Localização Aprox.,Observação
0,1,2022-11-07 10:14:48.000,I,2022-11-07,ABC0001,727976,São Paulo,NaN
1,2,2022-11-07 10:30:00.000,IE,2022-11-07,ABC0001,727976,Guarulhos,NaN
2,3,2022-11-07 11:00:00.000,FE,2022-11-07,ABC0001,727976,Guarulhos,NaN
3,4,2022-11-07 12:14:48.000,IA,2022-11-07,ABC0001,727976,Jacarei,NaN
4,5,2022-11-07 14:13:48.000,FA,2022-11-07,ABC0001,727976,Jacarei,NaN
5,6,2022-11-07 16:14:48.010,IE,2022-11-07,ABC0001,727976,São José dos Campos,NaN
6,7,2022-11-07 18:14:48.015,FE,2022-11-07,ABC0001,727976,São José dos Campos,NaN
7,8,2022-11-07 22:14:48.025,F,2022-11-07,ABC0001,727976,São Paulo,NaN
8,9,2022-11-08 09:17:12.000,I,2022-11-08,ABC0001,727976,São Paulo,NaN
9,10,2022-11-08 09:32:24.000,IE,2022-11-08,ABC0001,727976,Guarulhos,NaN
10,11,2022-11-08 10:02:24.000,FE,2022-11-08,ABC0001,727976,Guarulhos,NaN
11,12,2022-11-08 11:17:12.000,IA,2022-11-08,ABC0001,727976,Jacarei,NaN
12,13,2022-11-08 13:16:12.000,FA,2022-11-08,ABC0001,727976,Jacarei,NaN
13,14,2022-11-08 15:17:12.010,IE,2022-11-08,ABC0001,727976,São José dos Campos,NaN
14,15,2022-11-08 17:17:12.015,FE,2022-11-08,ABC0001,727976,São José dos Campos,NaN
15,16,2022-11-08 21:17:12.025,F,2022-11-08,ABC0001,727976,São Paulo,NaN
16,17,2022-11-09 09:46:00.000,I,2022-11-09,ABC0001,727976,São Paulo,NaN
17,18,2022-11-09 10:01:12.000,IE,2022-11-09,ABC0001,727976,Guarulhos,NaN
18,19,2022-11-09 10:31:12.000,FE,2022-11-09,ABC0001,727976,Guarulhos,NaN
19,20,2022-11-09 11:46:00.000,IA,2022-11-09,ABC0001,727976,Jacarei,NaN
20,21,2022-11-09 13:45:00.000,FA,2022-11-09,ABC0001,727976,Jacarei,NaN
21,22,2022-11-09 15:46:00.010,IE,2022-11-09,ABC0001,727976,São José dos Campos,NaN
22,23,2022-11-09 17:46:00.015,FE,2022-11-09,ABC0001,727976,São José dos Campos,NaN
23,24,2022-11-09 21:46:00.025,F,2022-11-09,ABC0001,727976,São Paulo,NaN
24,25,2022-11-10 04:58:00.000,I,2022-11-10,ABC0001,727976,São Paulo,NaN
25,26,2022-11-10 05:13:12.000,IE,2022-11-10,ABC0001,727976,Guarulhos,NaN
26,27,2022-11-10 05:43:12.000,FE,2022-11-10,ABC0001,727976,Guarulhos,NaN
27,28,2022-11-10 06:58:00.000,IA,2022-11-10,ABC0001,727976,Jacarei,NaN
28,29,2022-11-10 08:57:00.000,FA,2022-11-10,ABC0001,727976,Jacarei,NaN
29,30,2022-11-10 10:58:00.010,IE,2022-11-10,ABC0001,727976,São José dos Campos,NaN
30,31,2022-11-10 12:58:00.015,FE,2022-11-10,ABC0001,727976,São José dos Campos,NaN
31,32,2022-11-10 16:58:00.025,F,2022-11-10,ABC0001,727976,São Paulo,NaN
32,33,2022-11-11 09:46:00.000,I,2022-11-11,ABC0001,727976,São Paulo,NaN
33,34,2022-11-11 10:01:12.000,IE,2022-11-11,ABC0001,727976,Guarulhos,NaN
34,35,2022-11-11 10:31:12.000,FE,2022-11-11,ABC0001,727976,Guarulhos,NaN
35,36,2022-11-11 11:46:00.000,IA,2022-11-11,ABC0001,727976,Jacarei,NaN
36,37,2022-11-11 13:45:00.000,FA,2022-11-11,ABC0001,727976,Jacarei,NaN
37,38,2022-11-11 15:46:00.010,IE,2022-11-11,ABC0001,727976,São José dos Campos,NaN
38,39,2022-11-11 17:46:00.015,FE,2022-11-11,ABC0001,727976,São José dos Campos,NaN
39,40,2022-11-11 21:46:00.025,F,2022-11-11,ABC0001,727976,São Paulo,NaN

In [5]:
# Verificando os tipos de dados
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   40 non-null     int64
 1   Data/Hora            40 non-null     datetime64[ns]
 2   Cod                  40 non-null     object
 3   Jornada              40 non-null     datetime64[ns]
 4   Placa                40 non-null     object
 5   Modelo               40 non-null     int64
 6   Localização Aprox.   40 non-null     object
 7   Observação           0 non-null      float64
dtypes: datetime64[ns](2), float64(1), int64(2), object(3)
memory usage: 2.6+ KB

In [6]:
jornada = '2022-11-08'
placa = 'ABC0001'

# Função de indicadores da jornada
def jornada_indicadores(jornada, placa):

    #Agrupamento dos dados da jornada
    df_jor = data[(data['Jornada'] == jornada) & (data['Placa'] == placa)].reset_index(drop=True)
    df_jor

    # Jornada
    jornada_dt = df_jor['Jornada'][0]
    
    # Tempo total da jornada
    jornada_inicio = df_jor['Data/Hora'].min()
    jornada_fim = df_jor['Data/Hora'].max()
    jornada_total = jornada_fim - jornada_inicio

    # consolidação dos tempos de espera
    lista_ie = []
    df_ie = df_jor[df_jor['Cod'] == 'IE'].reset_index()
    lista_fe = []
    df_fe = df_jor[df_jor['Cod'] == 'FE'].reset_index()
    for i in range(len(df_ie)):
        lista_ie.append(df_ie['Data/Hora'][i])
        lista_fe.append(df_fe['Data/Hora'][i])

    df_espera = pd.DataFrame()

    df_espera['inicio'] = lista_ie
    df_espera['fim'] = lista_fe
    df_espera['intervalo'] = df_espera['fim'] - df_espera['inicio']

    espera = df_espera['intervalo'].sum() 


    # consolidação dos tempos de almoço
    lista_ia = []
    df_ia = df_jor[df_jor['Cod'] == 'IA'].reset_index()
    lista_fa = []
    df_fa = df_jor[df_jor['Cod'] == 'FA'].reset_index()
    for i in range(len(df_ia)):
        lista_ia.append(df_ia['Data/Hora'][i])
        lista_fa.append(df_fa['Data/Hora'][i])

    df_almoco = pd.DataFrame()

    df_almoco['inicio'] = lista_ia
    df_almoco['fim'] = lista_fa
    df_almoco['intervalo'] = df_almoco['fim'] - df_almoco['inicio']

    almoco = df_almoco['intervalo'].sum()


    # consolidação dos tempos de descanço
    lista_ip = []
    df_ip = df_jor[df_jor['Cod'] == 'IP'].reset_index()
    lista_fp = []
    df_fp = df_jor[df_jor['Cod'] == 'FP'].reset_index()
    for i in range(len(df_ip)):
        lista_ip.append(df_ip['Data/Hora'][i])
        lista_fp.append(df_fp['Data/Hora'][i])

    df_pausa = pd.DataFrame()

    df_pausa['inicio'] = lista_ip
    df_pausa['fim'] = lista_fp
    df_pausa['intervalo'] = df_pausa['fim'] - df_pausa['inicio']

    pausa = df_pausa['intervalo'].sum()
    
    df_ind = pd.DataFrame([[jornada_dt, placa,jornada_inicio, jornada_fim, jornada_total, almoco, espera, pausa]])
    df_ind.columns = ['Jornada','Placa' ,'Início da Jornada' ,'Fim da Jornada' ,'Jornada Total' ,'Almoço' ,'Espera' ,'Descanso']
    
    return df_ind

In [7]:

jornada_indicadores(jornada, placa)

,Jornada,Placa,Início da Jornada,Fim da Jornada,Jornada Total,Almoço,Espera,Descanso
0,2022-11-08,ABC0001,2022-11-08 09:17:12,2022-11-08 21:17:12.025,0 days 12:00:00.025000,0 days 01:59:00,0 days 02:30:00.005000,0.0

In [8]:
# Resumindo o dataframe pelos indicadores
df_temp = data[['Jornada', 'Placa']].drop_duplicates().reset_index()
df_resumo = pd.DataFrame(columns= ['Jornada','Placa' ,'Jornada Total' ,'Almoço' ,'Espera' ,'Descanso'])

for i in range(len(df_temp)):
    jornada = str(df_temp['Jornada'][i])[:10]
    placa = df_temp['Placa'][i]
    df_resumo = pd.concat([df_resumo, jornada_indicadores(jornada, placa)])
    
df_resumo = df_resumo.sort_values('Jornada')

In [9]:
# Visualização inicial do resumo
df_resumo

,Jornada,Placa,Jornada Total,Almoço,Espera,Descanso,Início da Jornada,Fim da Jornada
0,2022-11-07,ABC0001,0 days 12:00:00.025000,0 days 01:59:00,0 days 02:30:00.005000,0.0,2022-11-07 10:14:48,2022-11-07 22:14:48.025
0,2022-11-08,ABC0001,0 days 12:00:00.025000,0 days 01:59:00,0 days 02:30:00.005000,0.0,2022-11-08 09:17:12,2022-11-08 21:17:12.025
0,2022-11-09,ABC0001,0 days 12:00:00.025000,0 days 01:59:00,0 days 02:30:00.005000,0.0,2022-11-09 09:46:00,2022-11-09 21:46:00.025
0,2022-11-10,ABC0001,0 days 12:00:00.025000,0 days 01:59:00,0 days 02:30:00.005000,0.0,2022-11-10 04:58:00,2022-11-10 16:58:00.025
0,2022-11-11,ABC0001,0 days 12:00:00.025000,0 days 01:59:00,0 days 02:30:00.005000,0.0,2022-11-11 09:46:00,2022-11-11 21:46:00.025

In [10]:
# Criando os tempos padrões em timedelta
from datetime import datetime, timedelta

# Especificando os tempos
t_jornada = datetime.strptime("08:00:00","%H:%M:%S")
t_almoco = datetime.strptime("01:00:00","%H:%M:%S")

# Tranformando para timedelta
t_jornada = timedelta(hours=t_jornada.hour, minutes=t_jornada.minute, seconds=t_jornada.second)
t_almoco = timedelta(hours=t_almoco.hour, minutes=t_almoco.minute, seconds=t_almoco.second)

In [11]:
# Adicionando as colunas calculadas
df_resumo['Saldo Almoço'] = df_resumo['Almoço'] - t_almoco
df_resumo['Saldo Jornada'] = df_resumo['Jornada Total'] - t_jornada
df_resumo = df_resumo.reset_index(drop=True)
df_resumo

,Jornada,Placa,Jornada Total,Almoço,Espera,Descanso,Início da Jornada,Fim da Jornada,Saldo Almoço,Saldo Jornada
0,2022-11-07,ABC0001,0 days 12:00:00.025000,0 days 01:59:00,0 days 02:30:00.005000,0.0,2022-11-07 10:14:48,2022-11-07 22:14:48.025,0 days 00:59:00,0 days 04:00:00.025000
1,2022-11-08,ABC0001,0 days 12:00:00.025000,0 days 01:59:00,0 days 02:30:00.005000,0.0,2022-11-08 09:17:12,2022-11-08 21:17:12.025,0 days 00:59:00,0 days 04:00:00.025000
2,2022-11-09,ABC0001,0 days 12:00:00.025000,0 days 01:59:00,0 days 02:30:00.005000,0.0,2022-11-09 09:46:00,2022-11-09 21:46:00.025,0 days 00:59:00,0 days 04:00:00.025000
3,2022-11-10,ABC0001,0 days 12:00:00.025000,0 days 01:59:00,0 days 02:30:00.005000,0.0,2022-11-10 04:58:00,2022-11-10 16:58:00.025,0 days 00:59:00,0 days 04:00:00.025000
4,2022-11-11,ABC0001,0 days 12:00:00.025000,0 days 01:59:00,0 days 02:30:00.005000,0.0,2022-11-11 09:46:00,2022-11-11 21:46:00.025,0 days 00:59:00,0 days 04:00:00.025000

In [12]:
# Calculo do dia anterior
t_dia = datetime.strptime("23:59:59","%H:%M:%S")
t_dia = timedelta(hours=t_dia.hour, minutes=t_dia.minute, seconds=t_dia.second)
dia_ant = str(df_resumo['Jornada'][0]- t_dia)[0:10]

a = df_resumo[df_resumo['Jornada'] == dia_ant]['Fim da Jornada']
b = df_resumo['Início da Jornada'][0]

b-a

Series([], Name: Fim da Jornada, dtype: timedelta64[ns])

In [13]:
# Calculo da coluna do intervalo de interjornada

lista = []
for i in range(len(df_resumo)):
    
    # Calculo do dia anterior
    t_dia = datetime.strptime("23:59:59","%H:%M:%S")
    t_dia = timedelta(hours=t_dia.hour, minutes=t_dia.minute, seconds=t_dia.second)
    dia_ant = str(df_resumo['Jornada'][i]- t_dia)[0:10]
    
    # Calculo do intervalo
    a = df_resumo[df_resumo['Jornada'] == dia_ant]['Fim da Jornada']
    b = df_resumo['Início da Jornada'][i]
    lista.append(b-a)

df_resumo['Interjornada'] = lista

In [14]:
# Visualização dos indicadores
df_resumo

,Jornada,Placa,Jornada Total,Almoço,Espera,Descanso,Início da Jornada,Fim da Jornada,Saldo Almoço,Saldo Jornada,Interjornada
0,2022-11-07,ABC0001,0 days 12:00:00.025000,0 days 01:59:00,0 days 02:30:00.005000,0.0,2022-11-07 10:14:48,2022-11-07 22:14:48.025,0 days 00:59:00,0 days 04:00:00.025000,"Series([], Name: Fim da Jornada, dtype: timede..."
1,2022-11-08,ABC0001,0 days 12:00:00.025000,0 days 01:59:00,0 days 02:30:00.005000,0.0,2022-11-08 09:17:12,2022-11-08 21:17:12.025,0 days 00:59:00,0 days 04:00:00.025000,0 0 days 11:02:23.975000 Name: Fim da Jornad...
2,2022-11-09,ABC0001,0 days 12:00:00.025000,0 days 01:59:00,0 days 02:30:00.005000,0.0,2022-11-09 09:46:00,2022-11-09 21:46:00.025,0 days 00:59:00,0 days 04:00:00.025000,1 0 days 12:28:47.975000 Name: Fim da Jornad...
3,2022-11-10,ABC0001,0 days 12:00:00.025000,0 days 01:59:00,0 days 02:30:00.005000,0.0,2022-11-10 04:58:00,2022-11-10 16:58:00.025,0 days 00:59:00,0 days 04:00:00.025000,2 0 days 07:11:59.975000 Name: Fim da Jornad...
4,2022-11-11,ABC0001,0 days 12:00:00.025000,0 days 01:59:00,0 days 02:30:00.005000,0.0,2022-11-11 09:46:00,2022-11-11 21:46:00.025,0 days 00:59:00,0 days 04:00:00.025000,3 0 days 16:47:59.975000 Name: Fim da Jornad...